* {
	border: 1px dashed red;
	min-height: 10px;
}
p {
	color: black;
}
.postcard {
	/* your styles here */
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header h1 {
	width: 90%;
	margin: 0px;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	float: left;
}

.postcard-body {
	display: flex;
}
.body-left,
.body-right {
	padding: 1px;
}
input {
	border: none;
	border-bottom: 1px solid gray;
}
.body-left p:first-child {
	margin-top: 0px;
}
